
@import '../../../../../node_modules/office-ui-fabric-react/dist/sass/_References';
.cmdBar {

  .commandIcons {
    font-size: '18';
    font-weight: bolder;
    margin: '0px 2px';
  }
  
  .container {
    max-width: 1200px;
    //background-color: white;
    //display:inline-block;
    //float: right;
    //display:flex;
    //align-items: center;
    //top:  -50px;

    //margin: 0px auto;
    //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .button {
    color: $ms-color-themePrimary;

    .label {
      font-weight: $ms-font-weight-semibold;
    }
  }
  .buttonWarning {
    background-color: yellow !important;
  }
}
